**/*.class

# Log Files
*.log
logs/

# Package files
*.jar
*.war

# Spring Boot & Environment
.env
.env.*
application-secret.properties
application-secret.yml

# Java Crash Reports
hs_err_pid*

# Build directories (Maven/Eclipse)
target/
bin/


# IDE specific files
.classpath
.project
.settings/
.idea/
*.iml
*.iws
bin/
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
